/* Reset CSS */
body, body * {
    margin: 0;
    box-sizing: border-box;
    font-family: inherit; /* Forcer l'usage d'une typo unique */
  }
  
  /* Enlever les "ascenseurs" (windows). */
  *::-webkit-scrollbar {
    display: none;
  }