@font-face {
    font-family: NeueHaas;
    src: url(fonts/NeueHaasDisplay-RomanItalic.ttf);
}
@font-face {
    font-family: NeueItalic;
    src: url(fonts/NeueHaasDisplay-RomanItalic.ttf);
}

body {
    font-family: NeueHaas, sans-serif;
    font-size: 36em;
}

