@import url(header.css);
@import url(reset.css);
@font-face {
    font-family: NeueHaas;
    src: url(fonts/NeueHaasDisplay-Roman.ttf);
}
@font-face {
    font-family: NeueItalic;
    src: url(fonts/NeueHaasDisplay-RomanItalic.ttf);
}


section.dynamic {
    font-family: NeueHaas, sans-serif;
    font-size: 3em;
    height: 90vh;
    background-size: cover;

}

section.dynamic div.greeting {
    position: relative;
    top: 250px;
  width: 100%;  
}