
@font-face {
    font-family: 'gothicpixelsmedium';
    src: url('https://paragorika.github.io/paragorika/index.woff2') format('woff2'),
         url('https://paragorika.github.io/paragorika/index.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'gothicpixelsmedium';
  }
